[package]
name = "transmission-rpc"
version = "0.3.4"
authors = ["red <red.avtovo@gmail.com>"]
edition = "2018"
repository = "https://github.com/j0rsa/transmission-rpc"
license = "MIT"
readme = "README.md"
description = "Transmission JRPC client"
keywords = ["transmission", "torrent", "jrpc"]
categories = ["api-bindings"]
include = [
    "**/*.rs",
    "Cargo.toml",
]

[dependencies]
reqwest = { version = "0.11.2", features = ["json", "rustls-tls"], default-features = false }
serde = { version = "1.0.124", features = ["derive"] }
rustc-serialize = "0.3.24"
enum-iterator = "0.7.0"

dotenv = "0.15.0"
log = "0.4.14"
env_logger = "0.9.0"

[dev-dependencies]
tokio = { version = "1.3.0", features = ["macros", "rt-multi-thread"] }
